{% extends 'base.html' %}
{% load staticfiles %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            keep
            <small>
                健身房，每天（中午|下午）坚持1~2个小时的健身
            </small>
            <a href="/xadmin/zoro/fitnessrecords/add/" class="btn btn-primary active" role="button">运动打卡</a>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- /.Content Header -->
{% endblock %}

{% block  content_main %}
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7">
            </section>
            <!-- /.Left col -->
            <!-- right col-->
            <section class="col-lg-5">

            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
{% endblock %}
