{% extends 'base.html' %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            sunny

            <small>
                行万里路 |
                <i class="fa fa-bicycle"></i>
                骑行,看看所在的城市
                <i class="fa fa-car"></i>
                <i class="fa fa-taxi"></i>
                <i class="fa fa-bus"></i>
                <i class="fa fa-train"></i>
                <i class="fa fa-plane"></i>
                <i class="fa fa-ship"></i>
                旅行，看看这个世界
            </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- /.Content Header -->
{% endblock %}

{% block  content_main %}
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
{% endblock %}