{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Franky Manual</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/css/_main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'franky/css/manual.css' %}"/>
    <link rel="icon" href="{% static 'franky/images/favicon-32.png' %}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h2>FrankyWebsite</h2>
          <p>网址导航：网站、博客、官方文档</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-html5"></div>
          <div class="skill">
            <a href="">Html</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-css"></div>
          <div class="skill">
            <a href="">CSS</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-javascript"></div>
          <div class="skill">
            <a href="">JavaScript</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Jquery</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-bootstrap"></div>
          <div class="skill">
            <a href="">Bootstrap</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-python"></div>
          <div class="skill">
            <a href="">Python</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-django"></div>
          <div class="skill">
            <a href="">Django</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-java"></div>
          <div class="skill">
            <a href="">Java</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-Jsp"></div>
          <div class="skill">
            <a href="">Jsp</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-Spring"></div>
          <div class="skill">
            <a href="">Spring</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Hadoop</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-hive"></div>
          <div class="skill">
            <a href="">Hive</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">HBase</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Spark</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Sqoop</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-r"></div>
          <div class="skill">
            <a href="">R</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-oracle"></div>
          <div class="skill">
            <a href="">Oracle</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-mysql"></div>
          <div class="skill">
            <a href="">MySQL</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Redis</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-linux"></div>
          <div class="skill">
            <a href="">Linux</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Aix</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Vim</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram pictogram-shell">#!</div>
          <div class="skill">
            <a href="Shell/shell.html">Shell</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Regular Expression</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Markdown</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">GitHub</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">VBA</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Word</a>
          </div>
          </h4>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <h4>
          <div class="pictgram"></div>
          <div class="skill">
            <a href="">Excel</a>
          </div>
          </h4>
        </div>
      </div>
      <hr>
    </div>
  </body>
</html>