{% extends 'base.html' %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            sunny
            <small>
                唯有美食与爱不可辜负
            </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> OPMS</a></li>
            <li class="active">Sanji</li>
        </ol>
    </section>
    <!-- /.Content Header -->
{% endblock %}

{% block  content_main %}
    <!-- Main content -->
    健身喝白水，工作喝茶水，在家早上喝咖啡，晚上爱喝牛奶、果汁
    <!-- /.content -->
{% endblock %}

