{% extends 'base.html' %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            nami
            <small>
            </small>
            <a href="xadmin/nami/expenserecords/add/" class="btn btn-primary active" role="button">记账</a>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- /.Content Header -->
{% endblock %}

{% block  content_main %}
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
{% endblock %}