{% extends 'base.html' %}
{% load staticfiles %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            历史文本
            <small>

            </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!-- /.Content Header -->
{% endblock %}

{% block  content_main %}
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <!-- Main row -->
            <div class="row">
                <div class="col-lg-4">
                    <h4>工作本地文档</h4>
                    <p>笔记本本地编写</p>
                    <p>Word,Excel,Txt,PPT等等</p>
                </div>
                <div class="col-lg-4">
                    <h4>有道云笔记</h4>
                    <ul>
                        <li>工作，工作网络文档</li>
                        <li>微语录</li>
                        <li>文艺范</li>
                        <li>学习笔记</li>
                        <li>网络收藏</li>
                        <li>个人日记</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Franky</h4>
                    <ul>
                        <li>Manual</li>
                        <li>Code</li>
                        <li>Blog</li>
                    </ul>
                </div>

            </div>
            <div class="row">

                <div class="col-lg-6">
                    <h4>新闻鸟</h4>
                </div>
                <div class="col-lg-6">
                    <h4>书法</h4>
                </div>
            </div>
            <!-- /.row (main row) -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
